body {
    min-width: 350px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-family:  Helvetica, sans-serif;
}

header
img {
    height: 30px;
}

header nav
img {
    height: 100%;
}

section#jumbotron {
    height: 95vh;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
}

section#jumbotron
img {
    width: 60%;
}

section#jumbotron-card
img {
    border: 2px solid transparent;
    padding: 0.15rem;
    border-radius: 15px;
}

section#jumbotron-card
img.my_border-blue {
    border: 2px solid #2347c7;
}