body {
    min-width: 350px;
    font-family: Arial, Helvetica, sans-serif;
}

.my_text-gray {
    color: gray;
}

.my_text-blue {
    color: #2958e6;
}

.my_border-bottom {
    border-bottom: 2px solid #2d64e5;
}

a {
    text-decoration: none;
}

header {
    font-family:  Helvetica, sans-serif;
}

header
img {
    height: 30px;
}

section#jumbotron {
    height: 90vh;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
}

section#jumbotron
img {
    width: 60%;
}

section#jumbotron-card
img {
    border: 2px solid transparent;
    padding: 0.15rem;
    border-radius: 15px;
}

section#jumbotron-card
img.my_border-blue {
    border: 2px solid #2347c7;
}

div.ps-5-card {
    display: inline-block;
    width: calc(100% / 5);
    padding: 3rem;
}

i.fa-trademark {
    font-size: 0.7rem;
    vertical-align: text-top;
}

section#jumbotron-sec {
    height: 90vh;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

section#jumbotron-sec
img {
    width: 60%;
}

section#new-releases {
    background-color: #1f1f1f;
}

section#ps-plus {
    background-color: #bebcbb;
}

img.my_ps-mini-logo {
    width: 60%;
}

section#ps-now {
    background-color: #161c3b;
}

footer {
    background-color: #19439c;
}

footer
img.my_img-globe {
    width: 30px;
}

footer
img.my_sony-logo {
    width: 150px;
}
