body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-family:  Helvetica, sans-serif;
}

header
img {
    height: 30px;
}

header nav
img {
    height: 100%;
}

section#jumbotron {
    height: 95vh;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
}

section#jumbotron
img {
    width: 60%;
}